<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991461199602-lag345galr90m66n6b7r3h3e7hvvvp6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991461199602-lag345galr90m66n6b7r3h3e7hvvvp6m</string>
	<key>API_KEY</key>
	<string>AIzaSyB5sRB9BL4ou3w0_UBTjaCqaXw8XfaDcPI</string>
	<key>GCM_SENDER_ID</key>
	<string>991461199602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondfirebaseproject</string>
	<key>PROJECT_ID</key>
	<string>mainfirebase-38119</string>
	<key>STORAGE_BUCKET</key>
	<string>mainfirebase-38119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991461199602:ios:bfbdf3a11b04ef704e8a6b</string>
</dict>
</plist>